// Note: we use Autoprefixer to add vendor prefixes to our CSS -> https://github.com/postcss/autoprefixer
@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins'; // custom mixins
@import 'partials/layout'; // responsive grid and media queries

/**
 *	Para o Vinicius, eu peguei as paradas q tava aki e botei em um file 
 *	separa pq tava um zona, cada parte tem um file 
 *
 */

@import 'partials/header';
@import 'partials/banner';
@import 'partials/about';
@import 'partials/gamejam';
@import 'partials/schedule';
@import 'partials/footer';
@import 'partials/unect';

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.4rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $text-color;
	background-color: $bg-color;
}

a {
	color: $link-color;
	text-decoration: none;
}