#banner {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 25em;
    background-color: #FFF;
}

#logo {
    height: 90%;
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
}