@media only screen and (min-width: 900px) {
    .logo_unect {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
        padding: 10px 10px;
    }
    .logo_unect:hover {
        border-bottom: solid 3px black;
        transition: border 150ms ease;
    }
    .logo_unect img {
        width: 20px;
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    }
    .logo_unect p {
        color: black;
        font-size: 8px;
        font-weight: bold;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .logo_unect {
        display: none;
    }
}