// colors
$event-color-1: #D80351;
$event-color-2: #00A3EE;
$event-color-3: #EBD217;
$event-color-4: #929292;
$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: $event-color-3;
// fonts 
$primary-font: 'Raleway';
//colum number
$columns-number: 5;
$row-height: 70px;